@import "../style/variables.scss";
@import "../style/mixins.scss";

.add-to-bag__button {
    @include pri-btn;

    &--clicked {
        &:hover {
            color: white;
            background-color: $sec;
        }
        background-color: $sec;
    }
}
