@import "../style/variables.scss";

.cart {
    &__products {
        display: flex;
        flex-direction: column;
    }

    &__empty {
        display: flex;
        justify-content: center;
        color: $err;
        margin: 3rem;
    }
}
